.projectGrid{
  display: grid;
  width: 49vw;
  height: 20vh;
  grid-template-columns: 0.5vw 1fr 0.5vw 12vw 0.5vw;
  grid-template-rows: 0.5vh 1fr 0.5vh 1fr 0.5vh;
  margin: 1vw 0;
  padding: 0 1vw;
  text-decoration: none;
  color: #333333;
}

.projectTitle{
  font-size: 2vw;
  grid-column: 2/4;
  grid-row: 2/3;
  align-self: center;
  justify-self: flex-start;
  text-align: left;
}

.projectDescription{
  font-size: 1.2vw;
  grid-column: 2/3;
  grid-row: 4/5;
  justify-self: flex-start;
  align-self: flex-start;
  text-align: left;
}

.projectImage{
  font-size: 1vw;
  grid-column: 4/5;
  grid-row: 2/5;
  width: 10vw;
  height: auto;
  justify-self: center;
  align-self: center;
  border-radius: 1vw;
}