.aboutMe{
  width: 100%;
  min-width: 100vw;
  height: 67vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutMeBox1{
  display: grid;
  grid-template-columns: 3vw 1fr 3vw 1fr 3vw;
  grid-template-rows: 3vh 1fr 10vh;
}

.aboutMeImage{
  grid-column: 2/3;
  grid-row: 2/3;
  justify-self: center;
  align-self: flex-end;
  clip-path: polygon(50% 0, 100% 13%, 86% 100%, 12% 100%, 0 13%);
  width: 18rem;
  height: auto;
}

.aboutMeText{
  grid-column: 4/5;
  grid-row: 2/3;
  justify-self: center;
  align-self: flex-end;
  text-align: left;
  line-height: 1.5rem;
  word-spacing: 0.3rem;
  color: #333333;
}